
  {{#if addNewAnswer}}
  <h2>Submit an Answer</h2>
    <div>
      <form>
        <div class="form-group">
          <label for="text">Answer</label>
          {{textarea value=text id="text" cols="20" rows="7"}}
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>
        <button {{action 'saveAnswer'}}>Submit</button>
      </form>
    </div>
  {{else}}
    <button {{action 'answerFormShow'}}>Submit Answer</button>
  {{/if}}
