<div class="questionTile">
  <li>
    {{#link-to 'question' question.id}}{{question.text}}{{/link-to}}
    Asked By {{question.author}}
    <p>{{totalAnswers}}</p>
    {{#if favoriteClicked}}
      <p>A Current Favorite</p>
    {{else}}
      <button class="btn btn-xs btn-info" {{action 'addFavorite' question}}><span class="glyphicon glyphicon-star"></span>Favorite</button>
    {{/if}}
  </li>
</div>
